<div class="container">
    <button *ngIf="navBarclicked" (click)="backHome()">Home</button>
    <div class="navigationBar" *ngIf="!navBarclicked">
        <div class="navElem theatersNav" (click)="navigate('theaters')"><p class="navText">Theatres</p></div>
        <div class="navElem movieNav" (click)="navigate('movies')">  <p class="navText">Movies      </p></div>
        <div class="navElem sheduleNav" (click)="navigate('shedule')"><p class="navText">Shedule     </p></div>
        <div class="navElem ticketsNav" (click)="navigate('tickets')"><p class="navText">Sell Tickets</p></div>
    </div>
    <router-outlet></router-outlet>
</div> 
