<h2>Name: {{movie.name}}</h2>
<p class="text-muted">Description: {{movie.description}}</p>
<p class="text-muted">Age: {{movie.age}}</p>
<p class="text-muted">Duration: {{movie.duration}}</p>

<h4>When are we playing the movie:</h4>
<label for="show"> Select date and place </label>
<select id="show" class="form-select" name="show" [(ngModel)]="selectedShow" (ngModelChange)="onChange()">
    <option *ngFor="let show of shows" [ngValue]="show">
        {{show.theaterName}}, {{show.time}}
    </option>
</select>

<h4>Available seats:</h4>
<div class="">
    <div class="grid d-flex justify-content-center" *ngFor="let row of seats">
        <div class="seat" *ngFor="let seat of row"></div>
    </div>
</div>