<div class="container">
  <br>
  <h2>Movies</h2>
    <p>Here you can manage movies. you can create a new movie pressing the button, update and delete them.</p>
    <button class="addMovieButton" (click)="openAddMovieDialog()">Add new Movie +</button>
    <dialog #addMovieDialog>
        <form action="#" name="myForm" #createTheaterform>
          <button (click)="closeMovieAddDialog()">Close</button>
          <input type="text" placeholder="NAME" [(ngModel)]="newMovieName" name="newTheaterName">
          <label for="description">Description :</label>
          <textarea name="description" id="12" cols="30" rows="10" [(ngModel)]="newMovieDescription"></textarea>
          <label for="first">Minimum age :</label>
          <input type="number" placeholder="Minimum age" [(ngModel)]="newMovieMinimumAge" name="first">
          <label for="second">Duration :</label>
          <input type="number" placeholder="Duration" [(ngModel)]="newMovieDuration" name="second">
          <button (click)="addNewMovie()">Add</button>
        </form>
      </dialog>
      <dialog #reviewsDialog>
        <div class="review" *ngFor="let review of currentReviesList">
            <p>User ID : {{review.userid}}</p>
            <p>Name of User : {{review.name}}</p>
            <p>Stars : {{review.stars}}</p>
            <p>Comment : {{review.review}}</p>
           
        </div>
        <button (click)="closeReviewsDialog()">Close</button>
      </dialog>
    <div class="moviesContainer">
        <div class="movie" *ngFor="let movie of moviesList">
          <p>Name : {{movie.name}}</p>
          <p>Description : {{movie.description}}</p>
          <p>Minimum age : {{movie.age}}</p>
          <p>Duration : {{movie.duration}}</p>
          <button (click)="updateMovieDialogOpen(movie.id)">Update</button>
          <button style="margin-left: 10px;" (click)="deleteMovie(movie.id)">Delete</button>
          <Button style="margin-left: 10px;" (click)="openReviewsModal(movie.id)">Check Reviews</Button>
        </div>
      </div>
</div>
